.submit {
    background-color: #d8e8cd;
    border-radius: 10px;
    border: #3c6930 2px solid;
    margin: auto 0;
    max-height: 80%;
    height: auto;
    width: auto;
    font-size: 1.2rem;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #3c6930;
}

.decline {
    margin-left: 5px;
    background-color: #FCBCBF;
    border-radius: 10px;
    border: #FF3D44 2px solid;
    max-height: 80%;
    height: auto;
    width: auto;
    font-size: 1.2rem;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.decline:hover {
    background-color: #FF3D44;
}

.buttons_th {
    display: flex;
    flex-direction: row;
    border-top: none;
    border-left: none;
    border-bottom: 1px black solid;
    border-right: none;
}

.row_true {
    background-color: #EAFFC9;
}
