.user_row_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.user_row_block p {
    font-size: 1rem;
    margin-left: 10px;
}

.submit {
    width: 120px;
    height: 30px;
    font-size: 1rem;
    background-color: #d8e8cd;
    border-radius: 10px;
    border: #3c6930 2px solid;
    cursor: pointer;
    margin: auto 10px;
}

.submit:hover {
    background-color: #3c6930;
}