.main_icons {
    display: block;
    margin: 50% auto;
    text-align: center;
}

.inline_block {
    border-radius: 26px;
    background-color: #D8E8FF;
    /*margin: 10px;*/
    /*padding: 5px 5px 8px 5px;*/
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 2px 10px 0 10px;
    cursor: pointer;
}

.inline_block:hover {
    background-color: #3C69FF;
}

.image_div {
    margin-top: 3px;
    margin-bottom: 2px;
}

.text_div {
    margin-top: 1px;
    margin-left: 5px;
}

.text_div a {
    text-decoration: none;
}

