.dashboard {
    width: 100%;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard h2 {
    padding-left: 15px;
    margin-bottom: 15px;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    border: white 3px solid;
    margin: 0 auto;
}

thead th {
    text-align: center;
    font-size: 1.2rem;
    border: black 1px solid;
    padding: 1px 5px;
}

tbody th {
    text-align: center;
    font-size: 1rem;
    border: black 1px solid;
    padding: 3px 5px;
}

.payments_table_container {
    border: #8ad814 3px solid;
    border-radius: 20px;
    margin: 0 auto;
    width: 80svw;
    max-width: 80%;
    padding: 0 0 5px;
    overflow-y: scroll;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 50%;
    max-height: 90svh;
}

.submit {
    width: 120px;
    height: 25px;
    font-size: 1rem;
    background-color: #d8e8cd;
    border-radius: 10px;
    border: #3c6930 2px solid;
    cursor: pointer;
    margin-top: 10px;
}

.submit:hover {
    background-color: #3c6930;
}

.decline {
    width: 120px;
    height: 25px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #FCBCBF;
    border: #FF3D44 2px solid;
    cursor: pointer;
}

.decline:hover {
    background-color: #FF3D44;
}