.user_row_block {
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-between;
}

.user_row_block span{
    display: flex;
    align-items: center;
}

.little_p {
    font-size: 1rem;
}

.submit {
    width: 120px;
    height: 30px;
    font-size: 1rem;
    background-color: #d8e8cd;
    border-radius: 10px;
    border: #3c6930 2px solid;
    cursor: pointer;
    margin: auto 10px;
}

.submit:hover {
    background-color: #3c6930;
}

.big_p {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}