.side_panel {
    padding: 10px 5px;
    /*margin: 5px;*/
    background: #D8E8FF;
    width: auto;
    max-width: 15%;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    top: 0;
    /*border-radius: 10px;*/
    font-size: 1.5rem;
    height: 100vh;
}

.main_icons {
    display: block;
    margin: 50px auto;
    text-align: center;
}

.inline_block {
    border-radius: 26px;
    background-color: #D8E8FF;
    /*margin: 10px;*/
    /*padding: 5px 5px 8px 5px;*/
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 2px 10px 0 10px;
    cursor: pointer;
}

.inline_block:hover {
    background-color: #3C69FF;
}

.image_div {
    margin-top: 3px;
    margin-bottom: 2px;
}

.text_div {
    margin-top: 1px;
    margin-left: 5px;
}

.text_div a {
    text-decoration: none;
}